[Unit]
Description=Conductor deployment %i

[Service]
Type=notify
NotifyAccess=all
ExitType=cgroup
TimeoutStartSec=0
Restart=always
RestartPreventExitStatus=10

WorkingDirectory=/run/conductor/deployment/%i
Environment=CONDUCTOR_DEPLOYMENT=%i
Environment=CONDUCTOR_SYSTEMD_UNIT=%n
ExecStartPre=/usr/local/bin/conductor _ deployment prepare
ExecStart=/usr/local/bin/conductor _ deployment start

TimeoutSec=300

ExecStop=/usr/local/bin/conductor _ deployment stop
ExecStopPost=/usr/local/bin/conductor _ deployment cleanup

