[Unit]
Description=Conductor Service configuration for %f
Requires=caddy.service
After=caddy.service

# Ensures that the unit is restarted when the Caddy server restarts (required to
# refresh the caddy config)
PartOf=caddy.service

[Service]
WorkingDirectory=%f
TimeoutStartSec=0
RemainAfterExit=yes

ExecStartPre=-/bin/sh -xc "exec conductor _ service deregister %f"
ExecStartPre=/bin/sh  -xc "exec conductor _ service register %f"
ExecStart=/bin/true
ExecStopPost=/bin/sh  -xc "exec conductor _ service deregister %f"
