[Unit]
Description=Conductor service %f
Wants=conductor-service-config@%i.service

[Service]
WorkingDirectory=%f
TimeoutStartSec=0
Restart=always
Type=notify-reload
NotifyAccess=all
TimeoutSec=300
# RemainAfterExit=yes

ExecStart=/usr/local/bin/conductor _ service start %f
ExecReload=/usr/local/bin/conductor _ service restart %f
ExecStop=/usr/local/bin/conductor _ service stop %f
ExecStopPost=/usr/local/bin/conductor _ service cleanup %f

[Install]
WantedBy=multi-user.target

