[Unit]
Description=Conductor Deployment configuration for %i
Requires=caddy.service
After=caddy.service

# Ensures that the unit is restarted when the Caddy server restarts (required to
# refresh the caddy config)
PartOf=caddy.service

[Service]
WorkingDirectory=%t/conductor/deployments/%i
TimeoutStartSec=0
RemainAfterExit=yes

ExecStartPre=-/bin/sh -xc "exec conductor _ deployment deregister"
ExecStartPre=/bin/sh  -xc "exec conductor _ deployment register"
ExecStart=/bin/true
ExecStopPost=/bin/sh  -xc "exec conductor _ deployment deregister"
