[Unit]
Description=Conductor Policy Server
Requires=network.target
After=default.target

[Service]
Type=simple
ExecStart=/bin.sh -xc 'exec conductor _ policy-server'

[Install]
WantedBy=default.target
