[Unit]
Description=Conductor CGI Function %i

[Service]
Type=oneshot
ExitType=cgroup
StandardInput=socket
StandardOutput=socket
StandardError=journal
CollectMode=inactive-or-failed

WorkingDirectory=%t/conductor/deployments/%i
Environment=CONDUCTOR_DEPLOYMENT=%i
Environment=CONDUCTOR_SYSTEMD_UNIT=%n

ExecStart=/bin/sh -xc 'PID=$$$$; exec conductor _ deployment start'
