[Unit]
Description=Conductor deployment %i

[Service]
Type=notify
NotifyAccess=all
ExitType=cgroup
TimeoutStartSec=0
Restart=always
RestartPreventExitStatus=10

WorkingDirectory=%t/conductor/deployments/%i
Environment=CONDUCTOR_DEPLOYMENT=%i
Environment=CONDUCTOR_SYSTEMD_UNIT=%n

# EnvironmentFile=%t/conductor/deployments/%i/conductor-deployment.env
# LogExtraFields=CONDUCTOR_APP=${CONDUCTOR_APP}
# LogExtraFields=CONDUCTOR_INSTANCE=${CONDUCTOR_INSTANCE}
# LogExtraFields=CONDUCTOR_DEPLOYMENT=${CONDUCTOR_DEPLOYMENT}

ExecStartPre=/bin/sh -xc 'PID=$$$$; exec conductor _ deployment prepare'
ExecStart=/bin/sh    -xc 'PID=$$$$; exec conductor _ deployment start'

TimeoutSec=300

ExecStop=/bin/sh     -xc 'PID=$$$$; exec conductor _ deployment stop'
ExecStopPost=/bin/sh -xc 'PID=$$$$; exec conductor _ deployment cleanup'

